name: visionos-jobs

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize ]

jobs:
  build_with_15_OS:
    name: "Xcode version 15.0.0, Target visionOS [arm64] Target SDK 1.0"
    runs-on: macos-13
    env:
      PLATFORM: VISIONOS
      DEPLOYMENT_TARGET: 1.0
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.0'
    - name: Build
      continue-on-error: true
      run: ./.github/build.sh
  build_with_15_SIMULATOR64:
    name: "Xcode version 15.0.0, Target visionOS Simulator [x86_64] Target SDK 1.0"
    runs-on: macos-13
    env:
      PLATFORM: SIMULATOR64_VISIONOS
      DEPLOYMENT_TARGET: 1.0
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.0'
    - name: Build
      continue-on-error: true 
      run: ./.github/build.sh    
  build_with_15_SIMULATOR_VISIONOS:
    name: "Xcode version 15.0.0, Target visionOS Simulator [arm64] Target SDK 1.0"
    runs-on: macos-13
    env:
      PLATFORM: SIMULATOR_VISIONOS
      DEPLOYMENT_TARGET: 1.0
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.0'
    - name: Build
      continue-on-error: true
      run: ./.github/build.sh    
  
